<%= form_with(model: [:admin, instagram_account], local: true) do |form| %>
  <% if instagram_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instagram_account.errors.count, "error") %> prohibited this instagram_account from being saved:</h2>

      <ul>
      <% instagram_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :account_name %>
    <%= form.text_field :account_name %>
  </div>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image, id: :instagram_account_image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
