<p id="notice"><%= notice %></p>

<h1>Instagram Accounts</h1>
<%= link_to 'New Instagram Account', new_admin_instagram_account_path %>

<div class="container">
  <div class="col-md-12">
    <% @instagram_accounts.each do |instagram_account| %>
      <div class="col-md-1"><%= link_to "#{instagram_account.account_name}", [:admin, instagram_account] %></div>
      <%= image_tag "#{instagram_account.image}", :size => "100x100" %>
      <% instagram_account.instagram_contents.each do |instagram_content| %>
        <%= image_tag "#{instagram_content.image}", :size => "100x100" %>
      <% end %>

    <% end %>
  </div>
</div>

<br>


