<p id="notice"><%= notice %></p>

<div class="container">
  <p>
    <strong>Id:</strong>
    <%= @instagram_account.account_name %>
  </p>
  <p>
    <strong>Picture:</strong>
    <% if @instagram_account.instagram_contents.count > 0 %>
      <% @instagram_account.instagram_contents.each do |instagram_content| %>
        <%= image_tag "#{instagram_content.images}" %>
      <% end %>
    <% end%>
  </p>
</div>

<%= link_to 'Edit', edit_admin_instagram_account_path(@instagram_account) %> |
<%= link_to 'Back', admin_instagram_accounts_path %>

<br/>

<%=  "@instagram_account.id=#{@instagram_account.id}" %>
<%= link_to 'Update', admin_instagram_contents_path(params: {instagram_account_id: @instagram_account.id}), method: :post, remote: true %>