<%= form_with(model: [:admin, talent], local: true) do |form| %>
  <% if talent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(talent.errors.count, "error") %> prohibited this talent from being saved:</h2>

      <ul>
      <% talent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :登録名 %>
    <div class="input-group">
      <%= form.text_field :name, placeholder: "ex)有吉弘行" %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :インスタグラムのアカウント名 %>
    <div class="input-group">
      <%= form.text_field :account_name, placeholder: "ex)ariyoshihiroiki" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Send',:class=>"form-submit"%>
  </div>
<% end %>
