<!DOCTYPE html>
<html>
  <head>
    <title>Myboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1><%= link_to 'My board', root_path %></h1>
    <header>
      <div class="container">
        <%= render 'layouts/header' %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
