<h2>編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <br/>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :新しいパスワード %>(変更しない場合は空欄のまま)<br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em>最小<%= @minimum_password_length %> 文字</em>
    <% end %>
  </div>
  <br/>

  <div class="field">
    <%= f.label :新しいパスワードの確認 %>(変更しない場合は空欄のまま)<br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <br/>

  <div class="field">
    <%= f.label :現在のパスワード %> (必須)<br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
  <br/>

  <div>
    <%= f.label :プロフィール画像 %>
    <br />
    <%= f.file_field :image, id: :user_image %>
    <%= f.hidden_field :image_cache %>
  </div>

  <br/><br/>


  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<br/><br/>

<h3>退会する</h3>

<p>退会しますか? <%= button_to "退会する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
